1. 부산기온 데이터 수집

2. 부산에서 가장 더웠던 날은?

3. 매년 크리스마스에 최고 기온과 최저 기온 추이 : plot

4. 월별 기온 데이터 추이 : boxplot

### 라이브러리 로드

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\python39\lib\site-packages (3.6.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python39\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\python39\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.19 in c:\python39\lib\site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: packaging>=20.0 in c:\users\82106\appdata\roaming\python\python39\site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\python39\lib\site-packages (from matplotlib) (4.37.2)
Requirement already satisfied: pillow>=6.2.0 in c:\python39\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\82106\appdata\roaming\python\python39\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\82106\appdata\roaming\python\python39\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\python39\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: six>=1.5 in c:\users\82106\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
# 라이브러리 임포트
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 데이터 로드

In [3]:
df = pd.read_csv('./data/ta_20220921111257.csv', header=6)
df.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1904-04-09  159     11.3      7.8     16.1
1  1904-04-10  159      9.3      4.7     15.2
2  1904-04-11  159     10.6      NaN     14.9
3  1904-04-12  159     11.3      8.8     13.4
4  1904-04-13  159     14.5     11.1     16.9

### 데이터 살펴보기

In [4]:
df.describe()

            지점       평균기온(℃)       최저기온(℃)       최고기온(℃)
count  43264.0  43264.000000  43254.000000  43260.000000
mean     159.0     14.168050     10.819318     18.437196
std        0.0      8.325085      8.856634      8.106433
min      159.0    -11.300000    -14.000000     -8.200000
25%      159.0      7.500000      3.600000     12.000000
50%      159.0     15.100000     11.600000     19.500000
75%      159.0     20.900000     18.200000     24.900000
max      159.0     31.700000     28.300000     37.300000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43264 entries, 0 to 43263
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       43264 non-null  object
 1   지점       43264 non-null  int64
 2   평균기온(℃)  43264 non-null  float64
 3   최저기온(℃)  43254 non-null  float64
 4   최고기온(℃)  43260 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.7+ MB

* 최저,최고기온에 결측치 존재

### 컬럼명 수정

In [8]:

df.rename(columns={'평균기온(℃)': '평균기온', 
                   '최저기온(℃)' : '최저기온', 
                   '최고기온(℃)' : '최고기온'},inplace=True)
df.head()

           날짜   지점  평균기온  최저기온  최고기온
0  1904-04-09  159  11.3   7.8  16.1
1  1904-04-10  159   9.3   4.7  15.2
2  1904-04-11  159  10.6   NaN  14.9
3  1904-04-12  159  11.3   8.8  13.4
4  1904-04-13  159  14.5  11.1  16.9

### 결측치 수정